<!doctype html>

<html>
  <html>
  <head>

    <title>Machine Vision for Quality Control</title>
    <link rel="stylesheet" href="static/styles/style.css">

  </head>

  <body>

    <header>
      <div class="title-container">
        <img src="static/logo_mgroup.png" alt="Logo2" class="logo">
        <h1>Machine Vision for Quality Control</h1>
        <img src="static/logo_kuleuven.png" alt="Logo1" class="logo">
      </div>
    </header>

    <div class="button-row">
      <button id="stream1">Demo 1</button>
      <button id="stream2">Demo 2</button>
      <button id="stream3">Demo 3</button>
      <button id="stream4">Demo 4</button>
    </div>

    <div id=""video-container'>
      <img id="video" src ="video_feed/1", style="max-width:100%; max-height:100%">
    </div>

    <script>

      // Get references to the HTML elements
      var video = document.getElementById('video');
      var stream1Btn = document.getElementById('stream1');
      var stream2Btn = document.getElementById('stream2');
      var stream3Btn = document.getElementById('stream3');
      var stream4Btn = document.getElementById('stream4');
  
      // Set up click event listeners for each button
      stream1Btn.addEventListener('click', function() {
        video.src = 'video_feed/1';
      });
  
      stream2Btn.addEventListener('click', function() {
        video.src = 'video_feed/2';
      });
  
      stream3Btn.addEventListener('click', function() {
        video.src = 'video_feed/3';
      });
  
      stream4Btn.addEventListener('click', function() {
        video.src = 'video_feed/4';
      });

    </script>

  </body>

</html>
